.header {
  border-bottom: 1px solid #e7e9fc;
}
.header .container {
  display: flex;
}
.main-nav {
  margin-left: 76px;
  margin-right: 340px;
}
.main-nav-list {
  display: flex;
  gap: 40px;
}
.main-nav-list-item {
}
.main-nav-list-link {
  padding: 24px 0;
  display: block;
  font-weight: 500;
  font-size: 16px;
  color: #2e2f42;
}
.main-nav-list-link:hover,
.main-nav-list-link:focus {
  color: #404bbf;
}
.contacts {
}
.contacts-list {
  display: flex;
  align-items: center;
  gap: 40px;
}
.contacts-item {
}
.contacts-link {
  display: flex;
  font-weight: 400;
  font-size: 16px;
  padding: 24px 0;
}
.contacts-link:hover,
.contacts-link:focus {
  font-weight: 400;
  font-size: 16px;
  color: #404bbf;
}
